{% load static %}
{% load sass_tags %}

<div class="col-sm-12">
    <div class="card">
        <div class="card-header pb-0 card-no-border">
            <h3 class="mb-3">Servicios de agua potable</h3>
        </div>
        <div class="card-body">
            <div class="table-responsive theme-scrollbar">
                <!-- Tabla para servicios -->
                <table class="display" id="basic-1">
                    <thead>
                        <tr>
                            <th>No. Servicio</th>
                            <th>Tipo Servicio</th>
                            <th>Fecha Alta</th>
                            <th>Contribuyente</th>
                            <th>Acciones</th>
                        </tr>
                    </thead>
                    <tbody id="serviciosTableBody">
                        <!-- Las filas de los servicios se insertarán aquí -->
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>