{% load static %}
{% load sass_tags %}
<div class="col-xxl-5 col-xl-8 box-col-12">
    <div class="row g-sm-3 height-equal-2 widget-charts">
        <div class="col-sm-12">
            <div class="card small-widget mb-sm-0">
                <div class="card-body success"><span class="f-light">Ingreso total del mes</span>
                    <div class="d-flex align-items-end gap-1">
                        <h4>$3,908</h4><span class="font-success f-14 f-w-600"><i
                                class="icon-arrow-up"></i><span>+80%</span></span>
                    </div>
                    <div class="bg-gradient">
                        <svg class="stroke-icon svg-fill">
                            <use href="{% static 'assets/svg/icon-sprite.svg'%}#profit"></use>
                        </svg>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-12">
            <div class="card small-widget mb-sm-0">
                <div class="card-body primary"> <span class="f-light">Tickets generados en el mes</span>
                    <div class="d-flex align-items-end gap-1">
                        <h4>2,435</h4><span class="font-primary f-14 f-w-600"><i
                                class="icon-arrow-up"></i><span>+50%</span></span>
                    </div>
                    <div class="bg-gradient">
                        <svg class="stroke-icon svg-fill">
                            <use href="{% static 'assets/svg/icon-sprite.svg'%}#new-order"></use>
                        </svg>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="card small-widget mb-sm-0">
                <div class="card-body warning"><span class="f-light">Contribuyentes registrados</span>
                    <div class="d-flex align-items-end gap-1">
                        <h4>2,908</h4><span class="font-warning f-14 f-w-600"><i
                                class="icon-arrow-up"></i><span>+20%</span></span>
                    </div>
                    <div class="bg-gradient">
                        <svg class="stroke-icon svg-fill">
                            <use href="{% static 'assets/svg/icon-sprite.svg'%}#customers"></use>
                        </svg>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="card small-widget mb-sm-0">
                <div class="card-body secondary"><span class="f-light">Pendientes de pago</span>
                    <div class="d-flex align-items-end gap-1">
                        <h4>$389k</h4><span class="font-secondary f-14 f-w-600"><i
                                class="icon-arrow-down"></i><span>-10%</span></span>
                    </div>
                    <div class="bg-gradient">
                        <svg class="stroke-icon svg-fill">
                            <use href="{% static 'assets/svg/icon-sprite.svg'%}#sale"></use>
                        </svg>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="card small-widget mb-sm-0">
                <div class="card-body warning"><span class="f-light">New Customers</span>
                    <div class="d-flex align-items-end gap-1">
                        <h4>2,908</h4><span class="font-warning f-14 f-w-600"><i
                                class="icon-arrow-up"></i><span>+20%</span></span>
                    </div>
                    <div class="bg-gradient">
                        <svg class="stroke-icon svg-fill">
                            <use href="{% static 'assets/svg/icon-sprite.svg'%}#customers"></use>
                        </svg>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="card small-widget mb-sm-0">
                <div class="card-body secondary"><span class="f-light">Average Sale</span>
                    <div class="d-flex align-items-end gap-1">
                        <h4>$389k</h4><span class="font-secondary f-14 f-w-600"><i
                                class="icon-arrow-down"></i><span>-10%</span></span>
                    </div>
                    <div class="bg-gradient">
                        <svg class="stroke-icon svg-fill">
                            <use href="{% static 'assets/svg/icon-sprite.svg'%}#sale"></use>
                        </svg>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
