{% load static %}
{% load sass_tags %}

<div class="container-fluid">
    <div class="row">
        <div class="col-xxl-6 col-xl-6 col-md-6 col-sm-12">
            <div class="card small-widget mb-sm-0">
                <div class="card-body warning">
                    <h4> Registrar nueva numero de servicio</h4>

                    <p></p>
                    <div class="d-flex align-items-end gap-1">
                        <a class="btn btn-outline-primary f-light" href="{% url "formularioAgua" %}">Registrar 
                            <i
                                class="icon-arrow-right"></i>
                        </a>
                    </div>
                    <div class="bg-gradient">
                        <svg class="stroke-icon svg-fill">
                            <use href="{% static 'assets/svg/icon-sprite.svg'%}#new-order"></use>
                        </svg>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-xxl-6 col-xl-6 col-md-6 col-sm-12">
            <div class="card small-widget mb-sm-0">
                <div class="card-body primary">
                    <h4>Numeros de servicio registrados</h4>
                    <span class="f-light">Número de servicios registradas en el servicio de agua potable</span>
                    <div class="d-flex align-items-end gap-1">
                        <h4 id="contador-registros">{{ servicios.count }}</h4> <!-- Contador dinámico -->
                        <span class="font-primary f-14 f-w-600"><i
                                class="icon-arrow-up"></i></span>
                    </div>
                    <div class="bg-gradient">
                        <svg class="stroke-icon svg-fill">
                            <use href="{% static 'assets/svg/icon-sprite.svg'%}#customers"></use>
                        </svg>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>