{% load static %}
{% load sass_tags %}

<!-- footer start-->
<footer class="footer">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-6 footer-copyright">
           <p class="mb-0">Copyright 2024 {% comment %} © {% endcomment %} SIP Tlax.</p> 
        </div>
        <div class="col-md-6">
          <p class="float-end mb-0">SuApGEM
              <img class="footer-icon" src="{% static 'assets/images/favicon1.png' %}" alt="">

          </p>
        </div>
      </div>
    </div>
</footer>