{% extends 'base.html' %}
{% load static %}
{% load sass_tags %}
{% load crispy_forms_tags %}

{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'assets/css/vendors/sweetalert2.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'assets/css/vendors/filepond.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'assets/css/vendors/filepond-plugin-image-preview.css' %}">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
{% endblock %}
{% block content %}



<style>
  .custom-carousel-control {
    background: white;
    border-radius: 50%; 
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: white;
  }

  .custom-icon {
    filter: invert(1); 
    width: 30px;
    height: 30px;
  }

  .carousel-control-prev {
    left: -80px; 
  }

  .carousel-control-next {
    right: -80px; 
  }

  .custom-carousel-control:hover {
    background: linear-gradient(135deg, rgba(86, 86, 86, 0.8), rgba(242, 241, 241, 0.2));
  }
</style>
{% include 'components/personalizacion/alertas.html' %}  
<div class="container-fluid">
    <div class="card">
      <div class="card-header pb-0">
        <h2><i class="icofont icofont-image me-2"></i> Personaliza el Fondo de Pantalla</h2>
        <p class="f-m-light mt-1">Sube y actualiza el fondo de pantalla de tu municipio. Asegúrate de que el archivo sea una imagen en formato JPEG, PNG, GIF o WebP.</p>
        
        <div class="card-header-right">
          <ul class="list-unstyled card-option">
            <li>
              <div><i class="icon-settings"></i></div>
            </li>
            <li><i class="icofont icofont-maximize full-card"></i></li>
            <li><i class="icofont icofont-minus minimize-card"></i></li>
            <li><i class="icofont icofont-error close-card"></i></li>
          </ul>
        </div>
      </div>
      <div class="card-body">
            <div class="card">
              <div class="card-body">
                <form action="{% url 'subir_fondo' %}" method="post" enctype="multipart/form-data">
                  {% csrf_token %}
                  <input type="file" name="file" id="filepond-input-fondo">
                  <button class="btn btn-success" type="submit">Subir</button>
                </form>
              </div>
            </div>
      </div>
    </div>
</div>

<div class="container-fluid">
    <div class="card">
        <div class="card-header pb-0">
            <h2><i class="icofont icofont-ui-edit"></i> Actualiza los Datos de tu Municipio</h2>
            <p class="f-m-light mt-1">Actualiza la información esencial de tu municipio, incluyendo el mapa, misión, visión, y detalles de contacto. Asegúrate de ingresar información precisa para que los visitantes del sitio tengan los datos más actuales.</p>
            
            <div class="card-header-right">
              <ul class="list-unstyled card-option">
                <li>
                  <div><i class="icon-settings"></i></div>
                </li>
                <li><i class="icofont icofont-maximize full-card"></i></li>
                <li><i class="icofont icofont-minus minimize-card"></i></li>
                <li><i class="icofont icofont-error close-card"></i></li>
              </ul>
            </div>
        </div>

        <div class="card-body">
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="row">
                  <div class="col-12 col-md-12 col-lg-12">
                    {{ form.titulo|as_crispy_field }}
                    </div>
                    <div class="col-12 col-md-12 col-lg-12">
                        <div class="form-group">
                            <label for="id_mapa_html" class="form-label">
                                Código HTML del Mapa
                                <i class="fa fa-question-circle" data-bs-toggle="modal" data-bs-target="#helpModal" style="cursor: pointer;"></i>
                            </label>
                            <textarea id="id_mapa_html" name="mapa_html" cols="80" rows="3" placeholder="Ingrese el código HTML para el mapa" class="form-control">{{ form.mapa_html.value }}</textarea>
                        </div>
                    </div>
                    <p></p>
                    <div class="col-12 col-md-6 col-lg-6">
                        {{ form.mision|as_crispy_field }}
                    </div>
                    <div class="col-12 col-md-6 col-lg-6">
                        {{ form.vision|as_crispy_field }}
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 col-md-12 col-lg-12">
                        {{ form.direccion|as_crispy_field }}
                    </div>
                    <div class="col-12 col-md-6 col-lg-6">
                        {{ form.telefono|as_crispy_field }}
                    </div>
                    <div class="col-12 col-md-6 col-lg-6">
                        {{ form.email|as_crispy_field }}
                    </div>
                </div>
                <button type="submit" class="btn btn-success">Actualizar Información</button>
            </form>
        </div>
    </div>
</div>

<!-- Modal de Ayuda -->
<div class="modal fade" id="helpModal" tabindex="-1" aria-labelledby="helpModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h2 class="modal-title card-title" id="helpModalLabel">Ayuda</h2>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <h3 class="card-title">¿Cómo cargar mi ubicación?</h3>
        <br>

        <!-- Carrusel de Imágenes -->
        <div id="carouselExampleCaptions" class="carousel slide">
          <!-- Indicadores -->
          <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="3" aria-label="Slide 4"></button>
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="4" aria-label="Slide 5"></button>
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="5" aria-label="Slide 6"></button>
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="6" aria-label="Slide 7"></button>
          </div>
          
          <div class="carousel-inner">
            <div class="carousel-item active">
              <img src="{% static 'assets/images/tutorial/Map1.jpg' %}" class="d-block w-100" alt="Paso 1">
              <div class="carousel-caption d-none d-md-block">
                <h3 class="card-title">Accede a Google Maps</h3>
                <p>Ve a Google Maps, puedes hacerlo dando click <a href="https://www.google.com.mx/maps/preview" target="_blank"><strong>aquí</strong></a> y busca la ubicación que deseas mostrar en tu mapa a través del buscador.</p>
              </div>
            </div>
            <div class="carousel-item">
              <img src="{% static 'assets/images/tutorial/Map2.jpg' %}" class="d-block w-100" alt="Paso 2">
              <div class="carousel-caption d-none d-md-block">
                <h3 class="card-title">Accede a la opción compartir</h3>
                <p>Al encontrar la ubicación, podrás observar la opción "Compartir" y debes dar click en ella.</p>
              </div>
            </div>
            <div class="carousel-item">
              <img src="{% static 'assets/images/tutorial/Map3.jpg' %}" class="d-block w-100" alt="Paso 3">
              <div class="carousel-caption d-none d-md-block">
                <h3 class="card-title">Selecciona "Insertar un mapa"</h3>
                <p>En la opción "Compartir" se mostrará una pequeña pantalla con diversas opciones. Selecciona la opción "Insertar un mapa" que se encuentra en la parte superior.</p>
              </div>
            </div>
            <div class="carousel-item">
              <img src="{% static 'assets/images/tutorial/Map4.jpg' %}" class="d-block w-100" alt="Paso 4">
              <div class="carousel-caption d-none d-md-block">
                <h3 class="card-title">Copiar HTML</h3>
                <p>En la opción anterior, se mostrará una vista previa del mapa que verás en tu sistema. En la parte superior se muestra un código y a un costado una opción <strong>"COPIAR HTML"</strong>. Haz click en la opción y se copiará el código. En ese momento, puedes abandonar Google Maps.</p>
              </div>
            </div>
            <div class="carousel-item">
              <img src="{% static 'assets/images/tutorial/Map5.jpg' %}" class="d-block w-100" alt="Paso 5">
              <div class="carousel-caption d-none d-md-block">
                <h3 class="card-title">Pegar código copiado</h3>
                <p>Al regresar al sistema <strong>SuApGEM</strong>, pega el código copiado en el campo "Código HTML del Mapa" del formulario.</p>
              </div>
            </div>
            <div class="carousel-item">
              <img src="{% static 'assets/images/tutorial/Map6.jpg' %}" class="d-block w-100" alt="Paso 6">
              <div class="carousel-caption d-none d-md-block">
                <h3 class="card-title">Completa el formulario</h3>
                <p>Una vez que el código esté ingresado en el campo, completa el formulario y guarda los datos.</p>
              </div>
            </div>
            <div class="carousel-item">
              <img src="{% static 'assets/images/tutorial/Map7.jpg' %}" class="d-block w-100" alt="Paso 7">
              <div class="carousel-caption d-none d-md-block">
                <h3 class="card-title">Verificar</h3>
                <p>Después de guardar el formulario, regresa al Home y verifica que tu mapa se haya cargado correctamente.</p>
              </div>
            </div>
          </div>
          <button class="carousel-control-prev custom-carousel-control" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
            <span class="carousel-control-prev-icon custom-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next custom-carousel-control" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
            <span class="carousel-control-next-icon custom-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>


<div class="container-fluid">
  <div class="card">
    <div class="card-header pb-0">
      <h2><i class="icofont icofont-image me-2"></i> Actualiza tu Organigrama</h2>
      <p class="f-m-light mt-1">Mantén tu organigrama siempre al día. Utiliza esta opción para cargar y actualizar el fondo de pantalla que mejor represente la estructura organizativa de tu municipio. Asegúrate de que el archivo sea una imagen en formato JPEG, PNG, GIF o WebP para garantizar la mejor calidad y compatibilidad.</p>
      
      <div class="card-header-right">
        <ul class="list-unstyled card-option">
          <li>
            <div><i class="icon-settings"></i></div>
          </li>
          <li><i class="icofont icofont-maximize full-card"></i></li>
          <li><i class="icofont icofont-minus minimize-card"></i></li>
          <li><i class="icofont icofont-error close-card"></i></li>
        </ul>
      </div>
    </div>
    <div class="card-body">
          <div class="card">
            <div class="card-body">
              <form action="{% url "subir_organigrama" %}" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <input type="file" name="file" id="filepond-input-organigrama">
                <button class="btn btn-success" type="submit">Subir</button>
              </form>
            </div>
          </div>
    </div>
  </div>
</div>

{% endblock %}

{% block scriptcontent %}
<script src="{% static 'assets/js/sweet-alert/sweetalert.min.js' %}"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
<script src="{% static 'assets/js/dropzone/dropzone.js' %}"></script>
<script src="{% static 'assets/js/dropzone/dropzone-script.js' %}"></script>
<script src="{% static 'assets/js/filepond/filepond-plugin-image-preview.js' %}"></script>
<script src="{% static 'assets/js/filepond/filepond-plugin-file-rename.js' %}"></script>
<script src="{% static 'assets/js/filepond/filepond-plugin-image-transform.js' %}"></script>
<script src="{% static 'assets/js/filepond/filepond.js' %}?v1.1"></script>
<script src="{% static 'assets/js/filepond/custom-filepond.js' %}?V1.23"></script>
<script src="{% static 'assets/js/tooltip-init.js' %}"></script>
<script src="{% static 'assets/js/height-equal.js' %}"></script>
<script src="{% static 'assets/js/modalpage/validation-modal.js' %}"></script>

{% if organigrama_url %}
<script>
  document.addEventListener('DOMContentLoaded', function() {
    const inputElementOrganigrama = document.querySelector('#filepond-input-organigrama');
    FilePond.registerPlugin(FilePondPluginImagePreview);

    const pondOrganigrama = FilePond.create(inputElementOrganigrama, {
      storeAsFile: true,
      allowMultiple: false
    });

    if ('{{ organigrama_url }}') {
      pondOrganigrama.addFile('{{ organigrama_url }}').then(function(file) {
        console.log('Archivo cargado correctamente:', file);
      });
    }
  });
</script>
{% else %}
<script>
  document.addEventListener('DOMContentLoaded', function() {
    const inputElementOrganigrama = document.querySelector('#filepond-input-organigrama');
    FilePond.registerPlugin(FilePondPluginImagePreview);
    
    const pondOrganigrama = FilePond.create(inputElementOrganigrama, {
      storeAsFile: true,
      allowMultiple: false
    });
  });
</script>
{% endif %}

{% if fondo_url %}
<script>
  document.addEventListener('DOMContentLoaded', function() {
    const inputElementFondo = document.querySelector('#filepond-input-fondo');
    FilePond.registerPlugin(FilePondPluginImagePreview);

    const pondFondo = FilePond.create(inputElementFondo, {
      storeAsFile: true,
      allowMultiple: false
    });

    if ('{{ fondo_url }}') {
      pondFondo.addFile('{{ fondo_url }}').then(function(file) {
        console.log('Archivo cargado correctamente:', file);
      });
    }
  });
</script>
{% else %}
<script>
  document.addEventListener('DOMContentLoaded', function() {
    const inputElementFondo = document.querySelector('#filepond-input-fondo');
    FilePond.registerPlugin(FilePondPluginImagePreview);
    
    const pondFondo = FilePond.create(inputElementFondo, {
      storeAsFile: true,
      allowMultiple: false
    });
  });
</script>
{% endif %}

{% endblock %}
