{% extends 'base.html' %}
{% load static %}
{% load sass_tags %}
{% load crispy_forms_tags %}


{% block css %}
<link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />

{% endblock %}


{% block content %}

<style>
    .field-icon {
        position: absolute;
        margin-top: -40px; 
        right: 20px; 
        z-index: 2;
      }
      
      .field-icon:hover {
        cursor: pointer;
        display: none;

      }

    /* Estilos que solo se aplicarán en pantallas menores de 768px */
    @media (min-width: 767px) {
        .custom-input .form-check .form-check-input:valid ~ .form-check-label {
            color: #000000 !important;
            margin-top: 25px;
            font-size: medium;
        }

        .custom-input .form-check .form-check-input:valid {
            margin-top: 30px;
            font-size: large;
        }
    }

</style>
    {% include 'components/personalizacion/alertas.html' %}  {# Incluir el componente de alertas aquí #}

    <div class="col-xl-12">
        <div class="card height-equal">
          <div class="card-header pb-0">
            <h3>Registrar Nuevo Usuario</h3>
            <p class="f-m-light mt-1">
                Complete el formulario a continuación para crear una cuenta de usuario.  Todos los campos marcados con un asterisco (*) son obligatorios y ayudarán a configurar y personalizar su experiencia en la plataforma.
            </p>
          </div>
          <div class="card-body">

            <form method="post" class="row g-3 needs-validation custom-input" >
                {% csrf_token %}

                <div class="row">
                    <div class="col-12 col-md-6 col-lg-4">
                        {{ form.username|as_crispy_field }}
                    </div>
                    <div class="col-12 col-md-6 col-lg-4">
                        {{ form.email|as_crispy_field }}
                    </div>
                </div>

                <div class="row mt-2">
                    <div class="col-12 col-md-6 col-lg-4">
                        {{ form.first_name|as_crispy_field }}
                    </div>
                    <div class="col-12 col-md-6 col-lg-4">
                        {{ form.last_name|as_crispy_field }}
                    </div>
                    <div class="col-12 col-md-6 col-lg-4">
                        {{ form.apellido_materno|as_crispy_field }}
                    </div>
                </div>

                <div class="row">
                    <div class="col-12 col-md-6 col-lg-4">
                        {{ form.sexo|as_crispy_field }}
                    </div>
                    <div class="col-12 col-md-6 col-lg-4">
                        {{ form.areas|as_crispy_field }}
                    </div>
                    <div class="col-12 col-md-6 col-lg-4">
                        {{ form.es_responsable|as_crispy_field }}
                    </div>
                </div>




                <div class="row">
                    <div class="col-12 col-md-6 col-lg-4">
                        {{ form.password1|as_crispy_field }}
                        <span toggle="#id_password1" class="fa fa-fw field-icon toggle-password fa-eye" style="display: block;"></span>
                        <div id="password-criteria">
                            <p>La contraseña debe cumplir los siguientes requerimientos:</p>
                            <ul>
                                <li id="criteria-length" class="text-danger">Al menos 8 caracteres</li>
                                <li id="criteria-uppercase" class="text-danger">Al menos una letra mayúscula</li>
                                <li id="criteria-number" class="text-danger">Al menos un número</li>
                                <li id="criteria-match" class="text-danger">Las contraseñas deben coincidir</li>
                                <li id="criteria-nospaces" class="text-danger">La contraseña no debe tener espacios</li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-12 col-md-6 col-lg-4">
                        {{ form.password2|as_crispy_field }}
                        <span toggle="#id_password2" class="fa fa-fw fa-eye field-icon toggle-password"></span>
                    </div>
                </div>
     


              <div class="col-12">
                <button class="btn btn-success-new" type="submit">Registrar</button>
                <a href="{% url 'customuser_list'  %}" class="btn btn-danger-new">Cancelar</a>
              </div>
            </form>
          </div>
        </div>
    </div>

    <script>
        document.addEventListener("DOMContentLoaded", function() {
            const password1 = document.getElementById('id_password1');
            const password2 = document.getElementById('id_password2');
            // Campos de entrada a convertir a mayúsculas
            const firstNameField = document.getElementById('id_first_name');
            const lastNameField = document.getElementById('id_last_name');
            const maternoField = document.getElementById('id_apellido_materno');

            const criteriaElements = {
                length: document.getElementById('criteria-length'),
                uppercase: document.getElementById('criteria-uppercase'),
                number: document.getElementById('criteria-number'),
                match: document.getElementById('criteria-match'),
                nospaces: document.getElementById('criteria-nospaces')
            };
        
            function toUpperCaseInput(event) {
                event.target.value = event.target.value.toUpperCase();
            }
    
            // Agregar event listeners
            if (firstNameField) firstNameField.addEventListener('input', toUpperCaseInput);
            if (lastNameField) lastNameField.addEventListener('input', toUpperCaseInput);
            if (maternoField) maternoField.addEventListener('input', toUpperCaseInput);
            
            function updateCriteria(id, isValid) {
                criteriaElements[id].className = isValid ? 'text-success' : 'text-danger';
            }
        
            function resetCriteria() {
                for (const id in criteriaElements) {
                    criteriaElements[id].className = 'text-danger';
                }
            }
        
            function validatePassword() {
                if (password1.value.length === 0) {
                    resetCriteria();
                    return;
                }
        
                const criteria = {
                    length: password1.value.length >= 8,
                    uppercase: /[A-Z]/.test(password1.value),
                    number: /[0-9]/.test(password1.value),
                    match: password1.value === password2.value,
                    nospaces: !/\s/.test(password1.value)
                };
        
                updateCriteria('length', criteria.length);
                updateCriteria('uppercase', criteria.uppercase);
                updateCriteria('number', criteria.number);
                updateCriteria('match', criteria.match);
                updateCriteria('nospaces', criteria.nospaces);
            }
        
            password1.addEventListener('input', validatePassword);
            password2.addEventListener('input', validatePassword);
        
            document.querySelectorAll('.toggle-password').forEach(function(toggle) {
                var input = document.querySelector(toggle.getAttribute('toggle'));
        
                function updateEyeIcon() {
                    if (input.value) {
                        toggle.style.display = 'block';
                    } else {
                        toggle.style.display = 'none';
                        input.type = 'password';
                        toggle.className = 'field-icon icofont icofont-eye'; // Set default to eye icon
                    }
                }
        
                toggle.addEventListener('click', function() {
                    if (input.type === 'password') {
                        input.type = 'text';
                        toggle.className = 'field-icon icofont icofont-eye-blocked'; // Change to eye-blocked icon
                    } else {
                        input.type = 'password';
                        toggle.className = 'field-icon icofont icofont-eye'; // Change back to eye icon
                    }
                });
        
                input.addEventListener('input', updateEyeIcon);
                updateEyeIcon(); // Initial call to set correct visibility on load
            });
        });
        
    
    </script>
{% endblock content %}




{% block scriptcontent %}
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>

<script>
    $(document).ready(function() {
        $('.select2').select2({
            placeholder: "Selecciona una Área", // Añade el texto del placeholder
            allowClear: true, // Permite limpiar la selección
            width: '100%' // Asegura que Select2 ocupe todo el ancho del contenedor
        });
    });

    
</script>


{% endblock %}