{% extends 'baselogin.html' %}

{% load static %}
{% load sass_tags %}


{% block css %}
  
{% endblock css %}


{% block content %}
<style>
    .custom-alert {
      background-color: #f44336;
      color: white;
      padding: 10px;
      text-align: center;
    }
    
    .custom-alert-message {
      font-weight: bold;
    }
    </style>
{% if messages %}
  <div class="custom-alert">
    {% for message in messages %}
      <span class="custom-alert-message">{{ message }}</span>
      <!-- Puedes agregar un botón de cierre personalizado aquí si lo deseas -->
    {% endfor %}
  </div>
{% endif %}
{% include "registration/components/componeteLogin.html" %}

{% endblock content %}   